*{
    /* margin:0;
    padding:0; */
}
body {
    position: relative;
    background-color:#EBE3D5;
    text-align: center;
}

.daftar{
    /* width:100%; */
    border-bottom:1px solid grey;
    padding:50px 20px;
}

input{
    border:none;
    padding: 2px 10px;
}

table {
    margin: 50px auto;
}

td {
    width: 20px;
    text-align: center;
}

button,#tombol {
    padding: 10px 30px;
    background-color: blue;
    outline: none;
    border-radius: 10px;
    color: white;
    border: none;
    box-shadow: 2px 1px 2px 2px grey;
    display: inline;
    margin-bottom:50px;
}

button:active,#tombol:active {
    box-shadow: none;
}

h1,#mundur{
    text-align:center;
    display:block;
    margin:10px auto;
}

#kelas1{
    margin-top:20px;
    padding:20px;
    outline:nona;
}

form {
    margin-top: 10px;
}

form input {
    /* text-align: center; */
    padding: 10px 10px;
    margin: 10px;
}

form label {
    text-align: left;
}

.catatan{
    margin:10px 50px 5px 50px;
    /* padding:30px 30px 5px 30px; */
    color:black;
    text-align:center;
}

th,td {
                padding: 10px;
                /* Set your desired padding value */
                /* border: 1px solid #ddd; */
                /* text-align: left; */
            }

        /* Tambahkan styling responsif menggunakan media query */
        @media (max-width: 600px) {


            th, td {
                padding: 5px;
                /* Set your desired padding value */
                /* border: 1px solid #ddd; */
                /* text-align: left; */
            }



            /* Tambahkan styling tambahan sesuai kebutuhan */
        }
